<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <base href="{{.BaseUri}}">
  <title>{{.Title}}</title>
  <meta name="csp-nonce" content="{{.Nonce}}">
  {{.ExtraMeta}}
  {{if .ImportMapJson}}
  <script type="importmap" nonce="{{.Nonce}}">{{.ImportMapJson}}</script>
  {{end}}
  <script type="module" nonce="{{.Nonce}}" src="./polyfea/boot.mjs"></script>
  {{if .EnablePWA}}
  <link rel="manifest" nonce="{{.Nonce}}" href="./polyfea/app.webmanifest">
  <script type="module" nonce="{{.Nonce}}" src="./polyfea/register.mjs"></script>
  <meta name="polyfea-sw-reconcile-interval" content="{{.ReconcileInterval}}">
  {{end}}
</head>
<body></body>
</html>