# This rule is not used by the project polyfea-controller-reborn itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants permissions to create, update, and delete resources within the polyfea.github.io.polyfea.github.io.
# This role is intended for users who need to manage these resources
# but should not control RBAC or manage permissions for others.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: polyfea-controller-reborn
    app.kubernetes.io/managed-by: kustomize
  name: microfrontend-editor-role
rules:
- apiGroups:
  - polyfea.github.io.polyfea.github.io
  resources:
  - microfrontends
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - polyfea.github.io.polyfea.github.io
  resources:
  - microfrontends/status
  verbs:
  - get
