---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - polyfea.github.io
  resources:
  - microfrontendclasses
  - microfrontends
  - webcomponents
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - polyfea.github.io
  resources:
  - microfrontendclasses/finalizers
  - microfrontends/finalizers
  - webcomponents/finalizers
  verbs:
  - update
- apiGroups:
  - polyfea.github.io
  resources:
  - microfrontendclasses/status
  - microfrontends/status
  - webcomponents/status
  verbs:
  - get
  - patch
  - update
