---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: webcomponents.polyfea.github.io
spec:
  group: polyfea.github.io
  names:
    kind: WebComponent
    listKind: WebComponentList
    plural: webcomponents
    singular: webcomponent
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: WebComponent is the Schema for the webcomponents API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: WebComponentSpec defines the desired state of WebComponent
            properties:
              attributes:
                description: This is a list of key-value pairs that allows you to
                  assign specific attributes to the element. The name field is used
                  as the attribute name, while the value field can be any valid JSON
                  type.
                items:
                  description: Attribute defines a key-value pair that allows you
                    to assign specific attributes to the element. The name field is
                    used as the attribute name, while the value field can be any valid
                    JSON type.
                  properties:
                    name:
                      description: The name of the attribute.
                      type: string
                    value:
                      description: The value of the attribute.
                      x-kubernetes-preserve-unknown-fields: true
                  required:
                  - name
                  - value
                  type: object
                type: array
              displayRules:
                description: |-
                  DisplayRules defines the conditions under which the web component should be loaded.
                  There is an or opperation between the elements of the DisplayRules list. If any of the DisplayRules is matched, the web component will be loaded.
                items:
                  description: |-
                    DisplayRules defines the conditions under which the web component should be loaded.
                    There is an and opperation between AllOf, AnyOf and NoneOf lists.
                  properties:
                    allOf:
                      description: If all of the matchers in this list are matched,
                        the web component will be loaded.
                      items:
                        description: Matcher defines the conditions under which the
                          web component should be loaded.
                        maxProperties: 1
                        properties:
                          context-name:
                            description: This is a list of context names in which
                              this element is intended to be shown.
                            type: string
                          path:
                            description: The list of paths in which this element is
                              intended to be shown.
                            example: /my-menu-item
                            type: string
                          role:
                            description: The list of roles for which this element
                              is intended to be shown.
                            example: admin
                            type: string
                        type: object
                      type: array
                    anyOf:
                      description: If any of the matchers in this list are matched,
                        the web component will be loaded.
                      items:
                        description: Matcher defines the conditions under which the
                          web component should be loaded.
                        maxProperties: 1
                        properties:
                          context-name:
                            description: This is a list of context names in which
                              this element is intended to be shown.
                            type: string
                          path:
                            description: The list of paths in which this element is
                              intended to be shown.
                            example: /my-menu-item
                            type: string
                          role:
                            description: The list of roles for which this element
                              is intended to be shown.
                            example: admin
                            type: string
                        type: object
                      type: array
                    noneOf:
                      description: If none of the matchers in this list are matched,
                        the web component will be loaded.
                      items:
                        description: Matcher defines the conditions under which the
                          web component should be loaded.
                        maxProperties: 1
                        properties:
                          context-name:
                            description: This is a list of context names in which
                              this element is intended to be shown.
                            type: string
                          path:
                            description: The list of paths in which this element is
                              intended to be shown.
                            example: /my-menu-item
                            type: string
                          role:
                            description: The list of roles for which this element
                              is intended to be shown.
                            example: admin
                            type: string
                        type: object
                      type: array
                  type: object
                type: array
              element:
                description: The HTML element tag name to be used when the matcher
                  is matched.
                example: my-menu-item
                type: string
              microFrontend:
                description: Reference to a microfrontend from which the webcomponent
                  would be served.
                type: string
              priority:
                default: 0
                description: Priority defines the priority of the webcomponent. Used
                  for ordering the webcomponent within the shell. The higher the number,
                  the higher the priority. The default priority is 0.
                format: int32
                type: integer
              style:
                description: Styles defines the styles that should be applied to the
                  webcomponent.
                items:
                  description: Style defines the styles that should be applied to
                    the webcomponent.
                  properties:
                    name:
                      description: The name of the style.
                      type: string
                    value:
                      description: The value of the style.
                      type: string
                  required:
                  - name
                  - value
                  type: object
                type: array
            required:
            - displayRules
            - element
            type: object
          status:
            description: WebComponentStatus defines the observed state of WebComponent
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
