name: Build and Publish Docker Image

on:
  push:
    branches:
      - main
  pull_request:
    branches: ["main"]
  release:
    types: [published]
    
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
env:
  DOCKER_VERSION: ${{ github.event.release.tag_name }}

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v6.0.0
      
    - name: Use Go version 1.21
      uses: actions/setup-go@v6.1.0
      with:
        go-version: 1.24.x
    
    - name: Run linter
      uses: golangci/golangci-lint-action@v8
      with:
        version: v2.1.0 

    - name: Build Go project
      run: make build
      
    - name: Run the tests
      run: make test
  
    - name: Log in to registry
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin
    
    - name: Docker Metadata action
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ghcr.io/polyfea/polyfea-controller
        sep-labels: ','
        sep-annotations: ','
        sep-tags: ','
        tags: |
          type=schedule
          type=ref,event=branch
          type=ref,event=branch,suffix={{date '.YYYYMMDD.HHmm'}}
          type=ref,event=tag
          type=ref,event=pr
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}
          type=semver,pattern={{major}}     
        labels: |
          maintainer=Polyfea-Owners
          org.opencontainers.image.title=polyfea/polyfea-controller
          org.opencontainers.image.description=Polyfea Kubernetes Controller
          org.opencontainers.image.vendor=Polyfea Team
          org.opencontainers.image.source=${{github.repositoryUrl}}
          org.opencontainers.image.revision=${{github.run_id}}
          org.opencontainers.image.documentation=https://github.com/polyfea/polyfea-controller/blob/main/README.md
        annotations: |
          maintainer=Polyfea-Owners
          org.opencontainers.image.title=polyfea/polyfea-controller
          org.opencontainers.image.description=Polyfea Kubernetes Controller
          org.opencontainers.image.vendor=Polyfea Team
          org.opencontainers.image.source=${{github.repositoryUrl}}
          org.opencontainers.image.revision=${{github.run_id}}
          org.opencontainers.image.documentation=https://github.com/polyfea/polyfea-controller/blob/main/README.md

    - name: Build and push docker
      run: make docker-buildx VERSION=${DOCKER_VERSION:-"dev-latest"} CONTAINER_REGISTRY=ghcr.io/${{ github.repository_owner }} TAGS="${{ steps.meta.outputs.tags || '' }}" LABELS="${{ steps.meta.outputs.labels || '' }}" ANNOTATIONS="${{ steps.meta.outputs.annotations || '' }}"
